<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 写的就是你要实现的那个接口的路径-->
<!--1.sql语句     2.绑定接口-->
<mapper namespace="com.aaa.doctor.dao.CareItemDao">

    <select id="getOrderItem" resultType="com.aaa.core.entity.CareOrderItem">
        select * from his_care_history ch join his_care_order co on ch.ch_id=co.ch_id join his_care_order_item coi on
        co.co_id=coi.co_id
        <if test="patientId!=null">
            where ch.patient_id=#{patientId}
        </if>
        <if test="chId!=null">
            and ch.ch_id=#{chId}
        </if>
    </select>


</mapper>