<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 写的就是你要实现的那个接口的路径-->
<!--1.sql语句     2.绑定接口-->
<mapper namespace="com.aaa.doctor.dao.RegistredListDao">
    <!--查询使用的标签是select-->
    <!--id 代表的是对应的接口的方法-->
    <!--resultType 值 List  写的是List里面的泛型   Map-->
    <update id="handleSuccess">
        UPDATE his_registration hr set hr.registration_status =1 WHERE registration_id=#{registrationId}
    </update>

    <update id="handleReturn">
        UPDATE his_registration hr set hr.registration_status =4 WHERE registration_id=#{registrationId}
    </update>

    <update id="handleFalse">
        UPDATE his_registration hr set hr.registration_status =5 WHERE registration_id=#{registrationId}
    </update>


    <select id="getRegNumber" resultType="java.lang.Integer">
        SELECT MAX(registration_number) numberMax FROM his_registration WHERE dept_id=#{deptId}
    </select>

    <update id="updStatus">
        UPDATE his_registration hr set hr.registration_status =#{status} WHERE registration_id=#{registrationId}
    </update>
    
</mapper>