<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.check.dao.CareOrderItemDao">

    <resultMap type="com.aaa.core.entity.CareOrderItem" id="HisCareOrderItemMap">
        <result property="itemId" column="item_id"/>
        <result property="coId" column="co_id" />
        <result property="itemRefId" column="item_ref_id" />
        <result property="itemName" column="item_name" />
        <result property="itemType" column="item_type" />
        <result property="num" column="num" />
        <result property="price" column="price" />
        <result property="amount" column="amount" />
        <result property="remark" column="remark" />
        <result property="status" column="status" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <select id="selectAll" resultMap="HisCareOrderItemMap">
        select a.* from (select r.registration_id,r.patient_name,r.patient_id,o.co_id,i.item_id,
        i.item_ref_id,i.item_name,i.num,i.price,i.amount,i.remark,i.status
        from his_registration r,his_care_order o,his_care_order_item i
        where r.patient_id=o.patient_id and o.co_id=i.co_id and
        i.item_type=1 and i.status=1 and r.registration_status=3
        <if test="regId!='' and regId!=null">
            and r.registration_id=${param2}
        </if>
        <if test="checkItemIds != null and checkItemIds.size > 0">and i.item_ref_id in
            <foreach collection="checkItemIds" item="checkItemId" open="(" separator="," close=")">
                #{checkItemId}
            </foreach>
        </if>)a left JOIN his_check_result b on a.item_id=b.coc_id where b.coc_id is NULL
    </select>
</mapper>
