<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.charge.dao.HisCareOrderItemMapper">

<update id="updateBystatus">
    update his_care_order_item set 	status=1 where item_id=#{itemId}

</update>

<insert id="insertAll">

    INSERT INTO his_order_charge_item (item_id,co_id,item_name,item_price,item_num,item_amount,item_type,`status`)
                                       VALUES(ItemId,coId,itemName,itemPrice,itemNum,itemAmount,itemType,'1')
    </insert>
</mapper>
