<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.charge.dao.HisCareOrderItemMapper">

<update id="updateBystatus">
    update his_care_order_item set 	status=1 where item_id=#{itemId}

</update>


<update id="updBystatus">
    update his_care_order_item set 	status=3 where item_id=#{itemId}
    </update>
</mapper>
