<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.charge.dao.HisOrderChargeItemMapper">

<select id="selectListAll" resultType="com.aaa.core.entity.OrderChargeItem">
    SELECT item_id,co_id,item_name,item_price,item_num,item_amount,order_id,item_type,status FROM his_order_charge_item
        WHERE order_id=#{orderId}
    </select>
</mapper>
