<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.CareHistoryMapper">
    <resultMap id="BaseResultMap" type="com.example.model.CareHistory">
        <id column="id" jdbcType="INTEGER" property="id"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from care_history
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.model.CareHistory">
        insert into care_history (id)
        values (#{id,jdbcType=INTEGER})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        select id
        from care_history
    </select>
    <resultMap id="BaseResultMap" type="com.example.model.CareHistory">
        <id column="id" jdbcType="INTEGER" property="id"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from care_history
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.model.CareHistory">
        insert into care_history (id)
        values (#{id,jdbcType=INTEGER})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        select id
        from care_history
    </select>
    <resultMap id="BaseResultMap" type="com.example.model.CareHistory">
        <id column="id" jdbcType="INTEGER" property="id"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from care_history
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.model.CareHistory">
        insert into care_history (id)
        values (#{id,jdbcType=INTEGER})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        select id
        from care_history
    </select>
    <resultMap id="BaseResultMap" type="com.example.model.CareHistory">
        <id column="id" jdbcType="INTEGER" property="id"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from care_history
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.model.CareHistory">
        insert into care_history (id)
        values (#{id,jdbcType=INTEGER})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        select id
        from care_history
    </select>
</mapper>